<h1><a href="/bloggers/admin">Listing bloggers</a></h1>
<ul class="list-inline">
<% @bloggers.each do |blogger| %>
  <li data-toggle="lightbox" href="#demoLightbox_<%= blogger.id %>" onclick="$('#demoLightbox_<%= blogger.id %>').lightbox('show');">
    <%= image_tag "/bloggers/img/#{blogger.id.to_s}", :size => "150x150" %>
    <h2><%= blogger.title %></h2>
    <%= blogger.name %>
  </li>
  <%= render :partial => "partial/lightbox", :locals => {:type => 'bloggers', :item => blogger, :info => "#{blogger.title}\n"} %>
<% end %>
</ul>

<br />
