<h1><a href="/stores/admin">Listing stores</a></h1>

<ul class="list-inline">
<% @stores.each do |store| %>
  <li data-toggle="lightbox" href="#demoLightbox_<%= store.id %>" onclick="$('#demoLightbox_<%= store.id %>').lightbox('show');">
    <%= image_tag "/stores/img/2/#{store.id.to_s}", :size => "150x150" %>
    <h2><%= store.name[0..4] %>
    <% if store.name.size > 6 %>
    ...
    <% end %>
    </h2>
    <%= "#{store.otime}~#{store.ctime}" %>
  </li>
  <%= render :partial => "partial/lightbox", :locals => {:type => 'stores', :item => store, :info => "#{store.otime}~#{store.ctime}\n"} %>
<% end %>
</ul>

<br />