<h1>Listing stores</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Phone</th>
    <th>Otime</th>
    <th>Ctime</th>
    <th>Img1</th>
    <th>Img2</th>
    <th>Img3</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= store.name %></td>
    <td><%= store.location %></td>
    <td><%= store.phone %></td>
    <td><%= store.otime %></td>
    <td><%= store.ctime %></td>
    <td><% @path1 = "/stores/img/1/"+store.id.to_s %>
  <%= image_tag(@path1, :size=> "50x50") %></td>
    <td><% @path2 = "/stores/img/2/"+store.id.to_s %>
  <%= image_tag(@path2, :size=> "50x50") %></td>
    <td><% @path3 = "/stores/img/3/"+store.id.to_s %>
  <%= image_tag(@path3, :size=> "50x50") %></td>
    <td><%= link_to 'Show', store %></td>
    <td><%= link_to 'Edit', edit_store_path(store) %></td>
    <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Store', new_store_path %>
