<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>Location:</b>
  <%= @store.location %>
</p>

<p>
  <b>Phone:</b>
  <%= @store.phone %>
</p>

<p>
  <b>Otime:</b>
  <%= @store.otime %>
</p>

<p>
  <b>Ctime:</b>
  <%= @store.ctime %>
</p>

<p>
  <b>Img1:</b>
  <%= image_tag "/stores/img1/#{@store.id.to_s}", :size => "50x50" %>
</p>

<p>
  <b>Img2:</b>
  <%= image_tag "/stores/img2/#{@store.id.to_s}", :size => "50x50" %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
